/BankClient/nbproject/
/BankClient/build/
/BankClient/dist/
/BankingApplication/nbproject/
/BankingApplication/build/
/BankingApplication/dist/
/CentraleBank/nbproject/
/CentraleBank/build/
/CentraleBank/dist/

*.db